# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#vs project file
source/ipch
source/Debug
source/Release
*.opensdf
*.sdf
*.tlog
*.obj
*.aps
*.suo
source/ossGui/Debug
source/ossGui/Release

source/ApiDemo/Debug
source/ApiDemo/Release